<!--<mat-checkbox
  [(ngModel)]="firstName"
  (change)="applyFilter('name', firstName ? 'amelia' : '')"
  >Show all first name - Amelia</mat-checkbox>-->

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
        [matMenuTriggerFor]="appMenu"
        [attr.rowspan]="2"
      >
        ID
        <mat-menu
          #appMenu="matMenu"
          class="my-class"
          style="align-self: center"
        >
          <app-card
            [dataSource]="dataSource"
            (click)="$event.stopPropagation()"
          ></app-card>
        </mat-menu>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
      <td mat-cell *matCellDef="let row">{{ row.progress }}%</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">
        Name
      </th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Color</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row.color }}
      </td>
    </ng-container>

    <ng-container matColumnDef="header-row-first-group">
      <th mat-header-cell *matHeaderCellDef>1</th>
    </ng-container>

    <!-- Header row second group -->
    <ng-container matColumnDef="header-row-second-group">
      <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">Second group</th>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['header-row-first-group', 'header-row-second-group']"
    ></tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
